{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex vh-100">

        <div class="bg-dark text-white p-3 d-flex flex-column" style="width: 280px;">
            <h4 class="text-center">Chats</h4>
            <ul class="list-unstyled flex-grow-1 overflow-auto">
                {% for room in chatRooms %}
                    <li class="p-2 {% if currentRoom is not null and room.id == currentRoom.id %}bg-primary{% else %}bg-dark{% endif %}">
                        <a href="{{ path('app_chat_room', {'id': room.id}) }}" class="text-white text-decoration-none d-block">
                            {{ room.name }}
                        </a>
                    </li>
                {% else %}
                    <p class="text-muted text-center">No chats available</p>
                {% endfor %}
            </ul>
            <div class="text-center">
                <a href="#" class="btn btn-light btn-sm w-100" data-bs-toggle="modal" data-bs-target="#newChatModal">New Chat</a>
            </div>
        </div>


        <div class="d-flex flex-column flex-grow-1">

            <div class="bg-primary text-white text-center py-3">
                <h2 class="mb-0">{{ currentRoom.name ?? 'Select a Chat' }}</h2>
            </div>

            <div id="chat-box" class="flex-grow-1 p-3 overflow-auto bg-light">
                {% if currentRoom is not null %}
                    {% set lastMessageDate = null %}

                    {% for message in currentRoom.messages %}
                        {% set messageDate = message.createdAt|date('Y-m-d') %}
                        {% set formattedDate = message.createdAt|chat_date %}

                        {% if lastMessageDate is not same as(messageDate) %}
                            <div class="d-flex align-items-center my-3">
                                <hr class="flex-grow-1">
                                <span class="mx-3 text-muted small">{{ formattedDate }}</span>
                                <hr class="flex-grow-1">
                            </div>
                        {% endif %}

                        {% include 'chat/message.html.twig' %}

                        {% set lastMessageDate = messageDate %}
                    {% else %}
                        <p class="text-muted text-center">No messages yet. Start the conversation!</p>
                    {% endfor %}

                    <div class="dropdown-menu custom-dropdown" id="sharedDropdownMenu">
                        <a class="dropdown-item" href="#">Reply</a>
                        <a class="dropdown-item" href="#">Forward</a>
                        <a class="dropdown-item" href="#">Delete</a>
                    </div>
                {% endif %}
            </div>


            {% if app.user and currentRoom %}
                <form method="post" action="{{ path('app_send_message', {'id': currentRoom.id}) }}" class="d-flex p-3 bg-white border-top">
                    {{ form_start(sendMessageForm, {'attr': {'class': 'form', 'id': 'newChatForm'}}) }}
                    {{ form_widget(sendMessageForm.content) }}
                    {{ form_end(sendMessageForm) }}
            {% elseif app.user %}
                <div class="text-center py-3 bg-white border-top">
                    <p class="text-muted">Select a chat room to start messaging.</p>
                </div>
            {% else %}
                <div class="text-center py-3 bg-white border-top">
                    <p class="text-warning">Please <a href="{{ path('app_login') }}">log in</a> to chat.</p>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="modal fade" id="newChatModal" tabindex="-1" aria-labelledby="newChatModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-dark text-light border-secondary shadow-lg rounded-3">
                <div class="modal-header border-secondary">
                    <h5 class="modal-title" id="newChatModalLabel">Create New Chat</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{{ path('app_new_chat') }}" id="newChatForm">
                        {{ form_start(createChatForm, {'attr': {'class': 'form'}}) }}
                        <div class="mb-3">
                            {{ form_label(createChatForm.chatName) }}
                            {{ form_widget(createChatForm.chatName) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(createChatForm.participants) }}
                        </div>

                        {{ form_end(createChatForm) }}
                    </form>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            console.log("Chat page loaded");
            const chatBox = document.getElementById("chat-box");
            chatBox.scrollTop = chatBox.scrollHeight;
            const tagsInput = document.querySelector('.tags-input');
            if (tagsInput) {
                $(tagsInput).tagsinput({
                    maxTags: 20,
                    delimiter: [','],
                });
            }
            $(".message").on("contextmenu", function(e) {
                e.preventDefault()
                var $message = $(this);
                var messageId = $message.parent().data("id");

                $("#sharedDropdownMenu").find('.dropdown-item').each(function() {

                })

                var offset = $message.offset();
                var messageHeight = $message.outerHeight();
                var messageWidth = $message.outerWidth();

                var dropdownHeight = $('#sharedDropdownMenu').outerHeight();
                var dropdownWidth = $('#sharedDropdownMenu').outerWidth();


                var topPosition = offset.top + messageHeight;
                var leftPosition = offset.left + messageWidth - dropdownWidth;


                if (topPosition + dropdownHeight > $(window).height()) {
                    topPosition = offset.top - dropdownHeight;
                }

                if (leftPosition + dropdownWidth > $(window).width()) {
                    leftPosition = offset.left - dropdownWidth;
                }

                $('#sharedDropdownMenu').css({
                    top: topPosition,
                    left: leftPosition
                });

                $("#sharedDropdownMenu").show();
                $("#chat-box").addClass('overflow-hidden')
                $("#chat-box").removeClass('overflow-auto')
            })

            $(document).on("click keydown contextmenu", function(e) {
                if (!$(e.target).closest(".message").length && !$(e.target).closest("#sharedDropdownMenu").length) {
                    $("#sharedDropdownMenu").hide();
                    $("#chat-box").addClass('overflow-auto')
                    $("#chat-box").removeClass('overflow-hidden')
                }
            })
        });
    </script>
{% endblock %}
